@charset "utf-8";
/*==全局设置==*/
body {
	margin: 0;
	font-family: Microsoft Yahei,SimSun,Tahoma,Helvetica,Arial,sans-serif;
}

a {
	text-decoration: none;
}

p,h1,h2,h3,h4,h5,dl,dd {
	margin: 0;
}

ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}
