@charset "utf-8";

body {
	background: url(../images/bodybg.png);
}

/* 最外层容器 */
.wrapper {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

/* banner */
.banner {
	height: 280px;
	background: url(../images/banner3.jpg) center no-repeat;
}

.nav {
	background-color: #F3D384;
	height: 50px;
	margin-bottom: 10px;
}

.nav li {
	float: left;
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;	
}

.nav li a {
	font-size: 15px;
	display: block;
	height: 50px;
	color: #333;
}

.nav li a:hover {
	color: #743c00;
	font-weight: bold;
}

.content-left {
	float: left;
	width: 238px;
	height: 600px;
	border: 1px solid #dcceae;
	background-color: #fff;
}

.content-right {
	float: right;
	width: 748px;
	border: 1px solid #dcceae;
	background-color: #fff;
}

.content-right h2 {
	height: 60px;
	line-height: 60px;
	color: #dcceae;
	padding-left: 20px;
	font-weight: normal;
}

.content-right ul {
	padding: 0 20px 20px;
}

.content-right ul hr {
	border: 1px dotted #ccc;
}

.content-right li {
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
}

.content-right li a {
	font-size: 14px;
	color: #555;
}

.content-right li a:hover {
	color: #743c00;
	text-decoration: underline;
}

.footer {
	font-size: 14px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	color: #555;
}
